 @media (min-width: 768px) and (max-width: 1024px) {
    .Content-Wrapper{
        padding-left:200px;
    }
    .Sidebar-Nav,.SideBar{
        width:200px;
    }
.Logo img{width:100%;}
.Admin-Heading{
    background:none;
    margin-top:14px;
    margin-bottom:15px;
}
.Admin-UserName{display:none; float:left;}
.UserImage{display:block; height:25px;  }
.Admin-SubMenu li.Admin-UserName{
    display:block;
}
.Admin-Header li{display:inline-block; float:none; vertical-align:middle;}
.caret{
    margin-top:10px;
}
.SideBar-DropDown li a{min-width:inherit;  padding:15px;}

}