html, body {
    height:100%;
}
body {
    background:#ececec;
    font-family:Segoe, "Segoe UI",  Arial, sans-serif;
    font-size:14px !important;
line-height:normal !important;
}
:focus{
    border:none;
    outline:none;
}
.Wrapper{
    width:100%;
    min-height:100%;
	float:left;
}
.conatiner{
    width:98%;
    margin:0 auto;
}
header{
    background:#fff;

    float:left;
    width:100%;
	position:relative;
	z-index:1;
 	border-bottom: 1px solid #D4D4D4;
}

input[type="text"] {
    padding:0 14px;
    font-style:normal;
}

.Logo {
    display:block;
}
.logo-collapsed{display:none;}
.navbar-header{
    float:left;

    width:290px;
    background:#fff;

    padding: 18px 20px;
    height:71px;
}
.navbar-toggle{
   display:none;
}
.Admin-Heading{
	background:#ebeaeb;
	padding:5px 0px;

	border-radius:9px;
	-webkit-border-radius:9px;
    -o-border-radius:9px;

    float:right;
    margin:20px 20px 21px 0;

}
.UserImage{display:none; float:left;}
.Admin-Header{
   text-align:center;
    position:relative;
margin:0;

}
.Admin-Header li{
    display:inline;
    background:url(/media/images/Border-Line.gif) repeat-y top left;
  padding:0px 9px;
    float:left;
    position:relative;

}

.Admin-Header li:first-child {
    background:none;

}
.Admin-Header li a{
    width:100%;
    height:100%;
    float:left;
}
.caret{

    background:url(/media/images/Icon-Caret.gif) no-repeat right center;
    width:11px;
    height:7px;
    display:inline-block;
    vertical-align:middle;
    margin-left:5px;

}
.Admin-User-Active .caret{

    background:url(/media/images/Icon-Caret-Active.gif) no-repeat right center;}

.Admin-User-Active{
    color:#e30078;
}
.Admin-SubMenu{
    color:#363636;
    background:#eceaed;
    border:1px solid #9c9c9c;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    -o-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    padding:5px;
    float:left;
    position:relative;
    top:6px;

}
.Admin-SubMenu li:first-child{
    background:#fff;
}
.Admin-SubMenu li.Admin-UserName{
    background:#333;
    padding:9px 15px;
    color:#e37dbf;
    display:none;
}
.Admin-SubMenu li{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    text-align:right;
    background:#fff;

    margin-top:1px
}
.Admin-SubMenu li a{
    color:#363636;
    display:block;
    height:100%;
    width:100%;
    padding:9px 15px;
    line-height:18px;
}
.Admin-SubMenu li a:hover{
    background-color:#e37dbf;
    color:#fff;
}
.Admin-Submenu-Conatiner{
    float:left;
     position:absolute;
    min-width:200px;
    top:22px;
    right:0%;
    z-index:1;
    display:none;

}
.Admin-SubMenu-Arrow{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #9c9c9c;
    float:left;
    position:absolute;
    right:8px;
    z-index:2;
	top:-2px;
}

/********************************************************[Navigation-Center]********************************************************/
.Navigation-Center{
    display:inline;
    text-align:center;
}
.Navigation-Center ul{
    display:inline-block;
    text-align:center;
}
.Navigation-Center ul li{
    display:inline;
}

.Navigation{

    float:left;


}
.Sidebar-Nav{
    background:url(/media/images/Arrow-down.png) no-repeat  90% center #363537;
    width:290px;
    height:100%;
    font-size:20px;
    color:#fff;
    float:left;
    position:relative;


}

.SubNavigation-Container{
    float:left;
   width:100%;
    background:#e37dbf;
    padding-left:290px;
    color:#fff;


}
.SubNavigation-Container ul{
    float:left;


  margin-top:11px;
    margin-bottom:12px;
}
.SubNavi{
    display:none;
}
.ActiveMenu{display:block;}
.SubNavigation-Container ul li{
    float:left;
    vertical-align:middle;
}
.SubNavigation-Container ul li a{
    padding:6px 10px;
    margin:0px 3px;
    color:#fff;
    float:left;
}
.SubNavigation-Container ul li a:hover,.SubNavigation-Container ul li.Active a{
    background:#000;
    color:#fff;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;

}
/********************************************************[ContentBox]********************************************************/
.Content-Wrapper{

    position:relative;
	display:flex;

}
.ContentBox-Wrapper{

    padding-right:0px;
     border-width:0 1px 1px 1px;
    border-style: solid;
    border-color: #bdbdbd;
}

.Content-Container{
   float:left;
    width:100%;


}

.SideBar,.Wrapper,.Sidebar-Nav,.Content-Wrapper,.Navigation,header,.navbar-header,.SubNavigation-Container{
    -webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;
}
.Content-Box{

   padding:20px 20px 20px 20px;
 background:#fff;
	min-height:820px;
     border-width:0 1px 1px 1px;
    border-style: solid;
    border-color: #bdbdbd;
position:relative;
display:table;
width:100%;

}
.Content p{
    line-height:20px;
}
.SideBar{
     background:#ececec;
    float:left;
    width:290px;
    position:relative;
    z-index:1;

}
.SideBar-DropDown{
    float:left;
    width:100%;
    color:#363636;
margin:0;
}
.SideBar-DropDown li{
    float:left;
    margin-left:1px;
line-height:15px;
}
.SideBar-DropDown li:first-child{
    margin-left:0;
}

.SideBar-DropDown li a{
   color:#363636;
    word-break:break-all;
    word-wrap:break-word;
    padding:16px 20px;
    float:left;
    text-align:center;
    min-width:100px;
}
.SideBar-DropDown li a:hover,.SideBar-DropDown li.Active a{
    background:#e37dbf;
    color:#fff;
}
.SideBar-DropDown li a span{
    width:100%;
    float:left;
    text-align:center;
}
.Icon-Entities{
    background-image:url(/media/images/Icon-Entities.png);
}
.Icon-Apps{
    background-image:url(/media/images/Icon-Apps.png);
}
.Icon-Dashboard{
    background-image:url(/media/images/Icon-Dashboard.png);
}
.Icon-Explore{
    background-image:url(/media/images/Icon-Explore.png);
}
.SideBar-DropDown li a:hover .Icon-Entities,.SideBar-DropDown li.Active a .Icon-Entities{
    background-image:url(/media/images/Icon-Entities-Active.png);
}
.SideBar-DropDown li a:hover .Icon-Apps,.SideBar-DropDown li.Active a .Icon-Apps{
    background-image:url(/media/images/Icon-Apps-Active.png);
}
.SideBar-DropDown li a:hover .Icon-Dashboard,.SideBar-DropDown li.Active a .Icon-Dashboard{
    background-image:url(/media/images/Icon-Dashboard-Active.png);
}
.SideBar-DropDown li a:hover .Icon-Explore,.SideBar-DropDown li.Active a .Icon-Explore{
    background-image:url(/media/images/Icon-Explore-Active.png);
}
.Icon-SideBar-DropDown{
    background-repeat:no-repeat;
    background-position:center;
    height:25px;
    display:inline-block;
     vertical-align:middle;
    text-align:center;
    width:100%;
}

.DropDown-Selected{display:block; line-height:100%;line-height:48px; height:48px;}
.DropDown-Selected a{
    display:block;
    color:#fff;
     padding:0 20px;
}
.DropDown-Selected a:after{
     content:url(/media/images/Icon-Caret-Dropdown.png);
     left:100%;
    top:0px;
       position:absolute;
}

.SideBar-Form-Group{
    width:100%;
    padding:9px 20px;
    float:left;
    background:url(../images/Form-Bottom-Line.gif) repeat-x bottom center;
    display:none;
}
.Search-Button{
    float:right; margin-top:10px; cursor:pointer;
    background:url(../images/Icon-Search.png) no-repeat center;
    width:23px;
	margin-right:25px;
    height:24px;
}
.Search-Button-Active{    background:url(/media/images/Icon-Search-Active.png) no-repeat center;}
.SideBar-Title{
    float:left;
}
.SideBar-TextBox{
    width:100%;
    border:1px solid #b4b4b4;
    -webkit-border-radius:9px;
    -o-border-radius:9px;
    -mo-border-radius:9px;
    border-radius:9px;
    height:31px;
    line-height:31px;
}
.Nav-SearchBox-Container{
    font-size:17px;
    color:#fff;
   float:left;
    line-height:49px;
    width:100%;
    background:#363537;
    height:49px;
    border-bottom:1px solid #8e8e8e;
    padding:0 20px;
	position:relative;

}
.SideaBar-Navigation{

    float:left;
    width:100%;

}
.Sidebar-Navi-Descrpition{
    float:left;
    width:100%;
    padding:0 8px;
    margin:10px 0 0 0;
    color:#000;
}
.Sidebar-Navi-Descrpition li{
    margin-bottom:1px;

    padding:0 0px;
    float:left;
    width:100%;
    position:relative;
line-height:inherit;
}
.Sidebar-Navi-Descrpition li:hover,.Sidebar-Navi-Descrpition li.Active{

}
.Sidebar-Navi-Descrpition li a:hover{
    padding-left:25px;
}
.Sidebar-Navi-Descrpition li a{
    color:#000;
    float:left;
    width:100%;
    height:100%;
    padding:11px 12px;
    background:#fff;
}
.Sidebar-Navi-Descrpition li a.slide-head{
    background-image:url(/media/images/Arrow_normal.png);
    background-repeat:no-repeat;
    background-position: 90% center
}
.Sidebar-Navi-Descrpition li.active_Accordian a.slide-head{
     background-image:url(/media/images/Arrow_Active.png);
    background-repeat:no-repeat;
    background-position: 90% center
}
.Sidebar-Navi-Descrpition li.Active a{
    padding-left:12px;
}
.Sidebar-Navi-Descrpition li.Active:after{
    height:100%;
    position:absolute;
    content:'';
    left:98%;

}
.Sidebar-Navi-Descrpition li.Active a:after{
     content:url(/media/images/Sidebar-Navi-Hover_02.png);
     left:100%;
    top:0px;
       position:absolute;
     border-left:5px solid #e593c9;
    padding:11px 0;
}
.Sidebar-Navi-Descrpition li.Active .Accordian_List li a:after{

    content:"";
    border:0;
}
.Circle{
    width:15px;
    height:15px;
    display:inline-block;
    vertical-align:middle;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -o-border-radius:7px;
    border-radius:7px;
    margin-right:12px;
}
.color-red{
    background:#ee1c24;
}
.color-orange{
    background:#f8941d;
}
.color-lightgreen{
    background:#acd473;
}
.color-green{
    background:#8dc73f;
}
.color-lightblue{
    background:#6dd0f7;
}
.color-skyblue{
    background:#00aef0;

}
.color-purple{
    background:#8560a9;
}
.color-rose{
    background:#f49ac2;
}

footer{
    position:absolute;
    height:45px;
    bottom:0;
    width:100%;
}
.Button-toggle{
    background:url(/media/images/Arrow-Collapsed.png) no-repeat right center;
    float: left;
    position: absolute;
    padding:0;
    right:10px;
	top:8px;
    cursor:pointer;
	width:15px;
	height:30px;
}
.Button-toggle-Active{
	 background:url(/media/images/Arrow-Collapsed-Active.png) no-repeat right center;
	}
.Button-toggle .icon-bar{
     border-radius: 1px;
    display: block;
    height: 2px;
    width: 20px;
    background-color:#e8c0da;
    margin-bottom:4px;

}
.h1{
    color:#e30074;
    font-size:22px;
    margin-bottom:25px;
}
.h3{
    font-size:16px;
    margin-bottom:23px;
}

/****************************[Collapse]****************************/
.Content-Wrapper-Collapse .SideBar,.Content-Wrapper-Collapse .Sidebar-Nav{
    width:82px;

}
.Content-Wrapper-Collapse .navbar-header{
	width:82px;
	}
.Content-Wrapper-Collapse .Content-Wrapper{
    padding-left:0px;
}
.Content-Wrapper-Collapse .SubNavigation-Container{
	padding-left:82px;
	}
.Content-Wrapper-Collapse .Hide-Collapse{
    display:none;
}
.Content-Wrapper-Collapse .SideBar-Form-Group{
    position:absolute;
    top:50px;
    width:190px;
    background:#fff;
    border:1px solid #ccc;
    z-index:1;
    left:10px;
    padding:10px;
    box-shadow:0 0 3px #999999;
    -webkit-box-shadow:0 0 3px #999999;
    -o-box-shadow:0 0 3px #999999;
    -moz-box-shadow:0 0 3px #999999;
    border-radius:10px;
}
.Content-Wrapper-Collapse .Search-Button{
    float:left;
}
.Content-Wrapper-Collapse .Button-toggle .icon-bar{
    background:#353535;

}
.Content-Wrapper-Collapse .logo-collapsed{
    display:block;
}
.Content-Wrapper-Collapse .logo-img{
    display:none;
}

.inputs  {
height:24px;
border: 1px solid #bcbcbc;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
width:150px;
color:#222222;
font-size: 12px !important;
}
 .inputs:focus {
border-color: #BBB;
outline: none;
}

.Sidebar_Legend_Container{
	width:100%;
	padding:0 10px;
	
	float:left;
	}
.Legend_Title{
	background:#363537;
	float:left;
	width:100%;
	padding:10px 15px;
	color:#fff;
	border-radius:7px 7px 0 0 ;
	-webkit-border-radius:7px 7px 0 0;
	-moz-border-radius:7px 7px 0 0;
	box-shadow:0 0 3px #888;
	}
.Legend_Content{
	background:#fff;
	float:left;
	width:100%;
	padding:0px 0px;
	color:#333;
	border-radius:0 0 7px 7px  ;
	-webkit-border-radius:0 0 7px 7px ;
	-moz-border-radius:0 0 7px 7px;
	border:1px solid #8C8C8C;
	box-shadow:0 0 3px #888;
	}
.Legend_List{
	margin:0 0px;
	padding:0;
	}
.Legend_List_Title{
	background:#f8f8f8;
	padding:7px 15px;
	margin:0;
	font-weight:bold;
	}	
.Legend_List{
	padding:0px 0px;
	margin:0;
	
	}	
.Legend_List li{
	padding:0px 0px;
	margin:0;
	}
.Legend_SubList li:first-child{
	
	border-top:none;
	}
	.Legend_SubList{
		list-style:disc;
    float:left;
    margin-left:30px;
		
		
		}
.Legend_SubList li{
	padding:7px 0px;
	margin-left:0px;
	
	
	
	}
.Accordian_Content{
    width:100%;
    background:#ececec;
    float:left;
    color:#333;
    border:1px solid #dcdcdc;
    display:none;
    overflow:auto;
}
.Accordian_List{

    margin:0 0px;
    padding:0;
}
.Accordian_List li{
    padding:0px 0;
    line-height:18px;
    margin:0;
    border:none;
    border-bottom:1px solid #f0f0f0;
}
.Accordian_List li:hover{

}
.Accordian_List li:hover a{
	float:left;
	width:100%;
	padding:7px 15px;
	background:#f7f7f7;
	border:none !important;
}
.Accordian_List li a{
    background:none;
    color:#333;
    padding:7px 15px;
    border:none;
}
.splitBox
{
    width:auto;
    max-width:100%;
    /*border:1px solid #888;*/
    margin: 0 10px 10px 0;
    float:left;
    display:inline-table;
    text-align:left;
    vertical-align:middle;
}

/***** Need to remove below lines  *****/

.widget-block {
    width: 49.8%;
    padding: 10px 8px;
}
.fL {
    float: left;
}
.fR {
    float: right;
}
.nR{
    width:100%;
    float:left
}
.clear {
    clear: both;
}
.cL {
    clear: left;
}
.cR {
    clear: right;
}
.grey-box:first-child{margin-top:0;}
.grey-box {
    background-color: #fff;
    border: 1px solid #e4e4e4;
   /* box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);*/
    margin-top:24px;
}
.expand {
    min-height: 1%;
    padding-bottom: 10px;
}
.widget-break_new {
    height: 5px;
}
.grey-tile {
    /*background: url("/media/images/grey-tile-bg.jpg") repeat-x scroll left top transparent;*/
    background:#f7f6f6;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
   /* text-transform: uppercase;*/
    text-align: left;
    font-weight:normal;
}

.grey-bar {
    background-color: #E1E0E0;
    border: 1px solid #B9B9B9;
    color: #444346;
    height: 40px;
    position: relative;
    width: 100%;
}

.main {
    margin: 40 auto;
    width: 95%;
}
div.min-max, span.help {
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin-left: 5px;
    margin-top: 7px;
    width: 16px;
}
div.maximize {
    background: url("/media/images/plus.jpg") no-repeat scroll 0 0 transparent;
}
div.minimize {
    background: url("/media/images/minus.jpg") no-repeat scroll 0 0 transparent;
}

#main-content-liquid {
width:96%;
display:block;
min-height:300px;
padding: 10px 0px 0px;
}

.Icon-chart, .Icon-Table, .Icon-plus, .Icon-add-to-dashboard, .Icon-remove-to-dashboard {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 10px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #cacaca;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    cursor: pointer;
}

.Icon-chart {
	background-image: url(/media/images/Icon-Chart.png);
}
.Icon-Table {
	background-image: url(/media/images/Icon-Grid.png);
}
.Icon-plus {
	background-image: url(/media/images/plus.jpg);
}

.Icon-add-to-dashboard {
    background-image: url(/media/images/Add2Dashboard.png);
}

.Icon-remove-to-dashboard {
    background-image: url(/media/images/Add2Dashboard.png);
}

.ngRow.odd{
background-color:#f1f1f1 !important;
}
.ngRow.even{
background-color:#fff !important;
}
.gridStyle{
border:1px solid #e4e4e4 !important;
}
.ngVerticalBarVisible{
background-color:#e4e4e4 !important;
}
.ngRow{
color:#333;
}
/*.ngGroupPanel{
color:#E37DBF !important;
background:#fff !important;
border:1px solid #E37DBF !important;
margin:-2px -1px 0 -1px !important;
min-height:35px !important;
padding:0 5px;
}*/


/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 280px;
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	
}

#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 198px;
height: 30px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 230px;
height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}

.button {	
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABABAB;
    border-radius: 5px;
	color: black;
	font-size: 14px;
    padding: 2px 6px;
    text-decoration: none;
	vertical-align: middle;   
}
.button:hover {
   border-top-color: #E37DBF;
   background: #E37DBF;
   color: #fff;
   cursor: pointer;
}
.button:active {
   border-top-color: #E37DBF;
   background: #E37DBF;
}

.wizard > .content > .body
{
    position:relative !important;
}
.error{
//    display: none;
    margin-left: 10px;
}

//.error_show{
//    color: red;
//    margin-left: 10px;
//}

input.invalid, textarea.invalid {
    border: 2px solid red;
}

input.valid, textarea.valid {
    border: 2px solid green;
}

#form-2 label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
#form-2_submit {
    padding-left: 100px;
}
#form-2 div{
    margin-top: 0em;
}
textarea{
    vertical-align: top;
    height: 5em;
}

.Forms-Group {
	float: left;
	width: 100%;
	margin-top: 15px;
	position: relative;
}
.Label {
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}
.Form_TextBox_Group {
	width: 275px;
	display: inline-block;
	vertical-align: middle;
/*	line-height: 0;*/
	position: relative;
}
.CommonField {
	width: 100%;
	height: 33px;
	border: 1px solid #c0c0c0;
}
.TextBox {
	padding: 0 15px;
}
.Error {
	border-color: #ff0000;
}
.Error_Message {
	font-size: 12px;
	position: absolute;
	left: 100%;
	top: 47%;
	margin-left: 15px;
	min-width: 250px;
	color: #ff0000;
}
.Mandatory {
	color: #F00;
}

