{% load nvd3_tags %}
<head>
      <meta charset="UTF-8">
  <meta content="utf-8" http-equiv="encoding"> 
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
</head>
<body>
    {% include_container chartcontainer 400 600 %}
<h1>Fruits vs Calories</h1>
    {% include_container chartcontainer 600 500 %}
</body>
