<head>
    <title>Django NVD3 - Examples</title>
</head>
<body>

{% block content %}
    <h3>List of supported chart:</h3>

    <a href="/cumulativelinechart/">cumulativeLineChart</a> <br/>
    <a href="/discretebarchart/">discreteBarChart</a> <br/>
    <a href="/discretebarchart_with_date/">discreteBarChar with Date</a> <br/>

    <a href="/linechart/">lineChart</a> <br/>
    <a href="/linechart_with_ampm/">lineChart with AM_PM</a> <br/>
    <a href="/linechart_without_date/">lineChart without date</a> <br/>
    <a href="/linewithfocuschart/">lineWithFocusChart</a> <br/>
    <a href="/lineplusbarchart/">linePlusBarChart</a> <br/>
    <a href="/lineplusbarwithfocuschart/">linePlusBarWithFocusChart</a> <br/>
    <a href="/lineplusbarwithfocuschart_without_date/">linePlusBarWithFocusChart with AM_PM</a> <br/>

    <a href="/multibarchart/">multiBarChart</a> <br/>
    <a href="/multibarhorizontalchart/">multiBarHorizontalChart</a> <br/>

    <a href="/piechart/">pieChart</a> <br/>
    <a href="/stackedareachart/">stackedAreaChart</a> <br/>
    <a href="/scatterchart/">scatterChart</a> <br/>
{% endblock %}

</body>
