<!DOCTYPE HTML>
<html lang="en">
    <head>
		{% load media_tags %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="favicon.ico" />
        <title>TigmaAnalytics : {{ page_title }}</title>
        <link rel="stylesheet" href='{% media_path "css/jquery-ui_smoothness.css" %}' />
		<link rel="stylesheet" href='{% media_path "css/normalize.css" %}' />
        <link rel="stylesheet" href='{% media_path "css/style.css" %}' />        
		<link type="text/css" rel="stylesheet" href='{% media_path "css/responsive.css" %}' media="screen">

        {% block css_media %}
        {% endblock %}

        {% block load_nvd3_chart_jscss %}
        {% endblock %}

    </head>
	<body>
		<div class="Wrapper">
			<header class="header">
				<section class="navbar-header"> 
					<a href="{% virtual_path %}/" title="TigmaAnalitics" class="Logo"> 
						<img src='{% media_path "images/logo.png" %}' alt="Logo.png" class="logo-img"> 
					</a> 
				</section>
				<nav class="Navigation">
					<ul class="SideBar-DropDown">
						<li {% if page_title == "Reports" %} class="Active" {% endif %}>
							<a href="{% virtual_path %}/reports/" title="Reports"><span class="Icon-SideBar-DropDown Icon-Entities"></span>Reports</a></li>
						<li {% if page_title == "Dashboard" %} class="Active" {% endif %}>
							<a href="{% virtual_path %}/dashboard/" title="Dashboard"><span class="Icon-SideBar-DropDown Icon-Dashboard"></span>Dashboard</a></li>
						<li {% if page_title == "ExploreData" %} class="Active" {% endif %}>
							<a href="{% virtual_path %}/exploredata/" title="Explore"><span class="Icon-SideBar-DropDown Icon-Explore"></span>Explore</a></li>
						<li {% if page_title == "Heatmap" %} class="Active" {% endif %}>
							<a href="{% virtual_path %}/heatmap/" title="Heat Map"><span class="Icon-SideBar-DropDown Icon-Apps"></span>Heat Map</a></li>
					</ul>
				</nav>
				<div class="Admin-Heading">
					<ul class="Admin-Header">
						<li>
							<span class="Admin-UserName">{{ user.username }}</span>
							<div class="Admin-Submenu-Conatiner dropdown"> <span class="Admin-SubMenu-Arrow"></span>
								<ul class="Admin-SubMenu">
									<li class="Admin-UserName">{{ user.username }}</li>
									<li><a href="#">Profile</a></li>
									<li><a href="#">Change Password</a></li>
									<li><a href="#">Recent Status</a></li>
									<li><a href="{% virtual_path %}/accounts/logout/">Logout</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="{% virtual_path %}/accounts/settings/" title="IconSettinb">
								<img src='{% media_path "images/Icon-Setting.png" %}' alt="Icon-Setting.png"></a>
						</li>
					</ul>
				</div>
			</header>
			<div class="Content-" style="width:100%; float:left; margin-top:-0px; position:relative">
				<aside class="SideBar" {% if page_title == "Dashboard" or page_title == "Heatmap" or page_title == "Changepassword" %} style="display:none;" {% endif %}>
					<div class="Nav-SearchBox-Container"> 
						<span class="SideBar-Title Hide-Collapse">{{ page_title }}</span> 
						<span  class="Search-Button"></span> <span class="Button-toggle"></span> 
					</div>
					<div class="SideBar-Form-Group sideBar-Space">
						<input type="text" class="SideBar-TextBox" placeholder="Search...">
					</div>
					<div class="SideaBar-Navigation">
						{% block side_menu %}
						
						{% endblock %}
					</div>
				</aside>
				<div class="Content-Wrapper">
					<div class="Content-Box">
						<input id="hdnvirtualpath" type="hidden" value='{% virtual_path %}' />
						{% block content %}
						
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>		

	<!-- java script region  -->
	<script src='{% media_path "js/jquery-1.11.1.min.js" %}'></script>
	<script src='{% media_path "js/jquery-1.11.0_ui.js" %}'></script>
	<script src='{% media_path "js/dataanalytic.js" %}'></script>
	<script src='{% media_path "js/html5.js" %}'></script>	
	{% block script_media %}
	{% endblock %}
</html>
