{% extends "base.html" %}
{% load media_tags %}

{% block css_media %}
<style>
    #form-3 label{
        display: -moz-grid-group;
        width: 100px;
        text-align: right
    }
    #form-3_submit{
        padding-left: 100px;
    }
    #form-3 div{
        margin-top: 0em;
    }

    .messagelist {
        clear: both;
        color: #CC0000;
        display: none;
        font-size: 80%;
        padding: 3px 0 0 5px;
        width: 308px;
    }

</style>
{% endblock %}

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		<li>
			<a href="{% virtual_path %}/accounts/userreportslist/" title="Reports">
				<span class="Circle color-lightblue"></span>
				<span class="Hide-Collapse">Reports</span>
			</a>
		</li>
		<li>
			<a href="#" title="Profile">
				<span class="Circle color-red"></span>
				<span class="Hide-Collapse">Profile</span>
			</a>
		</li>
		<li class="Active">
			<a href="{% virtual_path %}/accounts/changepassword/" title="Change Password">
				<span class="Circle color-orange"></span>
				<span class="Hide-Collapse">Change Password</span>
			</a>
		</li>
		<li>
			<a href="#" title="Recent Status">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">Recent Status</span>
			</a>
		</li>
		<li>
			<a href="#" title="Logout">
				<span class="Circle color-green"></span>
				<span class="Hide-Collapse">Logout</span>
			</a>
		</li>		
	</ul>
{% endblock %}

{% block content %}
	<div id="main-content-liquid" style="width:70%; margin: 0px 0px 0px 0px;">
        <h1 id="rdlTitle" class="h1">{{ page_title }}</h1>
        <form id="form-3" action="." method="POST"> {% csrf_token %}
			<div class="messagelist" id="message" style="text-align:center">
				{% if message != '' %}
					<p>{{ message }}</p>
				{% endif %}
			</div>
            <table id="tblChart" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="center" valign="middle">
                        <label id="lblNewPswd" for="txtNewPswd">New Password </label>
					</td>
                    <td style="width:5px"></td>
                    <td align="center" valign="middle">
                        <input id="txtNewPswd" style="height: 25px; border:0.25px solid" type="password" name="txtNewPswd" />
					</td>
                    <td>
                        <span id="requiredNewPass" class="error"></span>
					</td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <label id="lblConfirmPswd" for="txtConfirmPswd">Confirm Password </label>
					</td>
                    <td style="width:5px"></td>
                    <td align="center" valign="middle">
                        <input id="txtConfirmPswd" style="height: 25px; border:0.25px solid" type="password" name="txtConfirmPswd" />
					</td>
                    <td>
                        <span id="requiredConfirmPass" class="error"></span>
					</td>
                </tr>
                <tr>
					<td style="width:5px"></td>
                    <td align="center" valign="middle">
                        <input id="btnSubmit" class="button" type="submit" value="submit" />
					</td>
                </tr>
            </table>
        </form>
	</div>
{% endblock %}

{% block script_media %}

    <script type="text/javascript">
        $( document ).ready(function() {
            var messageValue = '{{ message }}';
            if (messageValue != '') {
                $('#message').css('display', 'block');
            }
        });

        $("#btnSubmit").click(function() {
            $(".error").hide();
            var isError = false;
            var newPasswd = $("#txtNewPswd").val();
            var confirmPasswd = $("#txtConfirmPswd").val();
            $("#requiredNewPass").text('');
            $("#requiredConfirmPass").text('');
            if (newPasswd == '') {
                $("#requiredNewPass").text('Please enter the new password.');
                isError = true;
            } else if (newPasswd.length < 6) {
                $("#requiredNewPass").text('Enter minimum 6 characters.');
                isError = true;
            } else if (confirmPasswd == '') {
                $("#requiredConfirmPass").text('Please re-enter your new password.');
                isError = true;
            } else if (newPasswd != confirmPasswd ) {
                $("#requiredConfirmPass").text('Passwords do not match.');
                isError = true;
            }

            if (isError) {
                $(".error").show();
                return false;
            } else {
                return true;
            }
        });

    </script>

{% endblock %}
