{% extends "home.html" %}
{% block content %}
	<h1 id="rdlTitle" class="h1">{{ page_title }}</h1>
	<div id="message" style="display:block; width:100%; text-align:center; color: #c00;">
		<p id="messageText"></p>
	</div>
	{% for chart in charts %}
		<div class="splitBox" id="{{ chart.report_id }}">
			<div class="grey-box">
				<h4 class="grey-tile" title="{{ chart.report_name }}">{{ chart.report_name }}
					<div class="min-max minimize" id="Chart-button"></div>
					<div style="float:right; margin-top: 8px">
						<img class='Icon-chart' title="show chart">
						<img class='Icon-Table' title="show tabluar">
						<img class='Icon-remove-to-dashboard' title="Remove to Dashboard" onclick="removeDashboard('{{ chart.report_id }}');">
					</div>
				</h4>				
			 	{% include "chartview.html" %}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block script_media %}

	<script type="text/javascript">

		function removeDashboard(reportId) {

			$.ajax({
				'url': $('#hdnvirtualpath').val() + '/removeDashboard/' + reportId,
				'cache': false,
				'async': false,
				'success': function(response) { 
					$("#message").css('display', 'block');
					$("#messageText").text(response);
					$("#message").delay(10000).show(0, function() { 
						$("#message").hide();
					});
					$("#"+reportId).fadeTo( "slow", 0.10, function() {
						$("#"+reportId).remove();
					});					
				}
			});
		}

	</script>

{% endblock %}
