{% extends "home.html" %}
{% load media_tags %}

{% block css_media %}
	<style>
		rect.bordered {
			stroke: #E6E6E6;
			stroke-width:2px;
		}

		text.mono {
			font-size: 9pt;
			font-family: Consolas, courier;
			fill: #aaa;
		}

		text.axis-workweek {
			fill: #000;
		}

		text.axis-worktime {
			fill: #000;
		}
	</style>
{% endblock %}

{% block script_media %}
	<script src="{% media_path 'js/d3/d3.min.js'%}"></script>
	<script type="text/javascript">

		$( document ).ready(function() { 
			$('#ddlGeo').val("{{geoId}}");

			var startDate;
			var endDate;

			var selectCurrentWeek = function () {
				window.setTimeout(function () {
				    $("#ui-datepicker-div").find('.ui-datepicker-current-day a').addClass('ui-state-active')
				}, 1);
			}
			var $weekPicker = $("#txtDatePicker");

			function updateWeekStartEnd() {
				if ($weekPicker.datepicker('getDate') != null) {
					var date = $weekPicker.datepicker('getDate');
					startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
					endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
				} else {
					$('#date').text("{{startDate}}" + ' to ' + "{{endDate}}");
				}
				/*var date = $weekPicker.datepicker('getDate') || new Date();
				startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
				endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);

				var stDate = $.datepicker.formatDate('yy-mm-dd', startDate);
				var enDate = $.datepicker.formatDate('yy-mm-dd', endDate);
				$('#date').text(stDate + ' to '	+ enDate);*/
			}

			updateWeekStartEnd();

			function updateDateText(inst) {
				var dateFormat = inst != 'start' &&  inst.settings.dateFormat ? inst.settings.dateFormat : $.datepicker._defaults.dateFormat;
				stDate = $.datepicker.formatDate(dateFormat, startDate, inst.settings);
				enDate = $.datepicker.formatDate(dateFormat, endDate, inst.settings);
				$('#date').text(stDate + ' to ' + enDate);
			}		

			$( "#txtDatePicker" ).datepicker({
				showOn: "button",
				buttonImage: "/media/images/calendar.gif",
				buttonImageOnly: true,
				showOtherMonths: true,
				selectOtherMonths: true,
				dateFormat: 'yy-mm-dd',
				maxDate: '-1d',
				onSelect: function (dateText, inst) {
				    updateWeekStartEnd();
				    updateDateText(inst);
				    selectCurrentWeek();
				},
				beforeShowDay: function (date) {
				    var cssClass = '';
				    if (date >= startDate && date <= endDate) cssClass = 'ui-datepicker-current-day';
				    return [true, cssClass];
				},
				onChangeMonthYear: function (year, month, inst) {
				    selectCurrentWeek();
				}
			});

			selectCurrentWeek();

			$('#ui-datepicker-div .ui-datepicker-calendar tr').on('mousemove', function () {
				$(this).find('td a').addClass('ui-state-hover');
			});
			$('#ui-datepicker-div .ui-datepicker-calendar tr').on('mouseleave', function () {
				$(this).find('td a').removeClass('ui-state-hover');
			});

			loadChart();
        });

		$('#btnSubmit').click(function() {
			console.log($('#ddlGeo').val());
			if ($('#ddlGeo').val() >= 1) {					
				loadChart();
			} else {
				alert("Please select Geo");
				$("#chart").empty();
			}
		});

		function loadChart() {
			var geoId = $("#ddlGeo").val();
			var margin = { top: 50, right: 0, bottom: 100, left: 260 },
				width = 1000 - margin.left - margin.right,
				height = 430 - margin.top - margin.bottom,
				gridSize = Math.floor(width / 20),
				legendElementWidth = gridSize*2,
				buckets = 9,				
				colors = ["#FFFFE5", "#FFF7BC", "#FEE391", "#FEC44F", "#FE9929", "#EC7014", "#CC4C02", "#993404", "#662506"],
				days = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
				times = ["1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12a", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p", "12p"];

			var selectedDate = $('#date').text().split('to');			

			startDate = selectedDate[0].trim();
			endDate = selectedDate[1].trim();

			if (startDate == '') {
				 startDate = "{{startDate}}";
			}
			if (endDate == '') {
				endDate = "{{endDate}}";
			}

			d3.json("/getHeatMap/"+geoId+"/"+startDate+"/"+endDate, function(error, data) {
				$("#chart").empty().append("loading.....");
				
				if (data.length == 0) {
					$('#errorMessage').text("No record found");
					$("#chart").empty();
					return;
				}

				$("#chart").empty();
				$('#errorMessage').empty();			

				filtered_data = $.grep(data, function (element, index) {
					return element.Geo == geoId;
				});
				
				filtered_data.forEach(function(d) {
					day = +d.day,
				    time = +d.time,
				    callduration = +d.callduration
				});

				var colorScale = d3.scale.quantile()
										.domain([0, buckets - 1, d3.max(data, function (d) { return d.callduration; })])
										.range(colors);

				var svg = d3.select("#chart").append("svg")
							.attr("width", width + margin.left + margin.right)
							.attr("height", height + margin.top + margin.bottom)
							.append("g")
							.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				var dayLabels = svg.selectAll(".dayLabel")
									.data(days)
									.enter().append("text")
									.text(function (d) { return d; })
									.attr("x", 0)
									.attr("y", function (d, i) { return i * gridSize; })
									.style("text-anchor", "end")
									.attr("transform", "translate(-6," + gridSize / 1.5 + ")")
									.attr("class", function (d, i) { return "dayLabel mono axis axis-workweek" });

				var timeLabels = svg.selectAll(".timeLabel")
									.data(times)
									.enter().append("text")
									.text(function(d) { return d; })
									.attr("x", function(d, i) { return i * gridSize; })
									.attr("y", 0)
									.style("text-anchor", "middle")
									.attr("transform", "translate(" + gridSize / 2 + ", -6)")
									.attr("class", function(d, i) { return "timeLabel mono axis axis-worktime" });

				var heatMap = svg.selectAll(".hour")
									.data(filtered_data)
									.enter().append("rect")
									.attr("x", function(d) { return (d.time - 1) * gridSize; })
									.attr("y", function(d) { return (d.day - 1) * gridSize; })
									.attr("rx", 4)
									.attr("ry", 4)
									.attr("class", "hour bordered")
									.attr("width", gridSize)
									.attr("height", gridSize)
									.style("fill", colors[0]);

				heatMap.transition().duration(1000)
									.style("fill", function(d) { return colorScale(d.callduration); });

				heatMap.append("title").text(function(d) { return d.callduration; });

				var legend = svg.selectAll(".legend")
								.data([0].concat(colorScale.quantiles()), function(d) { return d; })
								.enter().append("g")
								.attr("class", "legend");

				legend.append("rect")
						.attr("x", function(d, i) { return legendElementWidth * i; })
						.attr("y", height)
						.attr("width", legendElementWidth)
						.attr("height", gridSize / 2)
						.style("fill", function(d, i) { return colors[i]; });

				legend.append("text")
						.attr("class", "mono")
						.text(function(d) { return "≥ " + Math.round(d) +"K"; })
						.attr("x", function(d, i) { return legendElementWidth * i; })
						.attr("y", height + gridSize);
			});
		}
    </script>

{% endblock %}

{% block content %}
	<h1 id="rdlTitle" class="h1">Area Wise Network Usage Report</h1>	
	<div id="widget_container" class="widget-block nR" >
		<div class="grey-box">
			<h4 class="grey-tile" title="Chart">			
				<label id="lblGeo" for="ddlGeo">Choose Geo</label>
				<select id="ddlGeo">
					<option value="-1">---- Select Geo ----</option>
					<option value="1" >Seattle (L)</option>
					<option value="2">Olympia</option>
					<option value="3">Spokane</option>					
				</select>
				<label id="lblDatePicker" for="txtDatePicker">Week</label>
				<span id="date" style="border: 1px solid; padding: 0 10px"></span> 
				<input type="text" class="inputs" id="txtDatePicker" name="txtDatePicker" readonly="readonly" style="display:none" />						
				<input id="btnSubmit" class="button" type="button" value="submit" />
			    <div class="min-max minimize" id="Chart-button"></div>
				<div style="float:right; margin-top: 8px"></div>
			</h4>
			<div style="text-align:center">
				<span id="errorMessage"></span>
			</div>
			<div id="chart"></div>	
		</div>
	</div>
{% endblock %}

