{% extends "base.html" %}
{% load media_tags %}
{% load nvd3_tags %}

{% block css_media %}
	<link rel="stylesheet" type="text/css" href="{% media_path 'css/ng-grid.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% media_path 'css/ng-style.css'%}" />
{% endblock %}

{% block load_nvd3_chart_jscss %}
    {% include_chart_jscss %}
{% endblock %}

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		{% for report in reports %}
		<li class="reports">
			<a href="{% virtual_path %}/chart/{{report.pk}}/" title="{{report.name}}">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">{{report.name}}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}	
	<div id="message" style="display:block; width:100%; text-align:center; color: #c00;">
		<p id="messageText">  </p>
	</div>
	<h1 id="rdlTitle" class="h1">{{ page_title }}</h1>	
	<div id="widget_container" class="widget-block nR">
		{% if filter_params.is_filter %}
		<form id="frmFilter" action="." method="post">{% csrf_token %}
			<div id="dtFilter"class="grey-tile" style="width:100%">
				<table id="tblFilterContent" cellpadding="4" cellspacing="2">
					<tr>
						{% if filter_params.filter_column == 'Date' %}
							<td width="10px"> </td>
							<td>
								<label id="lblFromDate" for="txtFromDate">From Date</label>
							</td>
							<td width="5px"></td>
							<td align="center" valign="middle">
								<input type="text" class="inputs" id="txtFromDate" name="txtFromDate" readonly="readonly" />
							</td>
							<td width="10px"></td>
							<td>
								<label id="lblToDate" for="txtToDate">To Date</label>
							</td>
							<td width="5px"></td>
							<td align="center" valign="middle">
								<input type="text" class="inputs" id="txtToDate" name="txtToDate" readonly="readonly" />
							</td>
						{% elif filter_params.filter_column == 'Month' %}
							<td width="10px"> </td>
							<td>
								<label id="lblMonth" for="ddlMonth">Month</label>
							</td>
							<td width="5px"></td>
							<td align="center" valign="middle">
								<select id="ddlMonth" name="ddlMonth">
									<option value='01' selected>Janaury</option>
									<option value='02'>February</option>
									<option value='03'>March</option>
									<option value='04'>April</option>
									<option value='05'>May</option>
									<option value='06'>June</option>
									<option value='07'>July</option>
									<option value='08'>August</option>
									<option value='09'>September</option>
									<option value='10'>October</option>
									<option value='11'>November</option>
									<option value='12'>December</option>
								</select>
							</td>
							<td width="10px"> </td>
							<td>
								<label id="lblYear" for="ddlYear">Year</label>
							</td>
							<td width="5px"></td>
							<td align="center" valign="middle">
								<select id="ddlYear" name="ddlYear" disabled="disabled">
									{% for year in filter_params.years %}
										<option value="{{ year }}">{{ year }}</option>
									{% endfor %}
								</select>
							</td>
						{% endif %}
						<td width="10px"></td>
						<td align="center" valign="middle">
							<input id="btnLoad" class="button" type="submit" value="submit" />
						</td>						
					</tr>
				</table>
			</div>
		</form>
		{% endif %}		
		<div class="grey-box">
			{% if error_msg != '' %}
				<h3>{{ error_msg }}</h3>
			{% else %}			
				<h4 class="grey-tile">{{ chart.report_name }}
					<div class="min-max minimize" id="Chart-button"></div>
					<div style="float:right; margin-top: 8px">
						<img class='Icon-chart' title="show chart">
						<img class='Icon-Table' title="show tabluar">
						<img class='Icon-add-to-dashboard' title="Add to Dashboard">
					</div>
				</h4>
			 	{% include "chartview.html" %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block script_media %}

<script type="text/javascript">

	$('.Icon-add-to-dashboard').click(function() {
		$.ajax({
		    'url': $('#hdnvirtualpath').val() + '/addDashboard/'+"{{report_id}}",
		    'cache': false,
			'async': false,
		    'success': function(response) { 
		        $("#message").css('display', 'block');
				$("#messageText").text(response);
				$("#message").delay(10000).show(0, function() { 
					$("#message").hide();
				});
		    }
    	});
	});

	$( document ).ready(function() { 
		$('#ddlMonth').val("{{ selected_month }}");

		$( "#txtFromDate" ).datepicker({
            dateFormat: 'yy-mm-dd',
			maxDate: '-1d'
        });

		$( "#txtToDate" ).datepicker({
           dateFormat: 'yy-mm-dd',
			maxDate: '-1d'
        });
	});

</script>

{% endblock %}
