<!DOCTYPE html>
<html>
	<head>
        {% load media_tags %}
		<meta charset="UTF-8">
		<title>TigmaAnalytics : {{ page_title }}</title>
		<link rel="stylesheet" href='{% media_path "css/style.css" %}' media="screen" type="text/css" />
	<script src='{% media_path "js/jquery-1.11.1.min.js" %}'></script>
        <style>
            /* ---------- FONTAWESOME ---------- */
            @import url(http://weloveiconfonts.com/api/?family=fontawesome);

            /* ---------- ERIC MEYER'S RESET CSS ---------- */
            @import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
            /* ---------- FONTAWESOME ---------- */

            input {
	            border: none;
	            font-family: 'Open Sans', Arial, sans-serif;
	            font-size: 14px;
	            line-height: 1.5em;
	            padding: 0;
	            -webkit-appearance: none;
            }
            a {
	            color: #606468;
	            text-decoration: none;
            }

            a:hover {
	            text-decoration: underline;
            }
            form .error{
		        color: #c00;
	        }
		    form label.error
            {
                margin-left:180px !important;
            }		
            form fieldset fieldset label.error
		    {
		        margin-left:0px !important;
		        width:200px !important;
		    }
	        form label.error
	        {
		        color: #c00;
		
		        font-size: 80%;
		        font-variant:small-caps;
		
		        width:308px;
		        display: none;

		        margin:8px 0px 0px 180px;
		        padding:3px 0px 0px 5px;
		        border-top:1px dotted #ccc;
		
		        clear:both;
	        }
            .errorlist {
                clear: both;
                color: #CC0000;
                display: none;
                font-size: 80%;
                padding: 3px 0 0 5px;
                width: 308px;
            }
        </style>
	</head>
	<body style="font: 87.5%/1.5em 'Open Sans', sans-serif; margin: 0;">                
		<div id="login">        
            <img src='{% media_path "images/logo.png" %}' alt="Logo.png" class="logo-img">             
			<form id="frmLogin" action="." method="post"> {% csrf_token %}
				<fieldset class="clearfix">
					<p style="line-height: 1.5em;">
						{{ form.username.label|upper }}						
						{{ form.username }}
                        <label id ="lbluserName" for="username" class="error">Please enter the username</label>
                    </p>
					<p style="line-height: 1.5em;">
						{{ form.password.label|upper }}
	        			{{ form.password }}
                        <label id='lblpassword' for="password" class="error">Please enter the password</label>
					</p>
                    <div class="errorlist" id="errors" style="text-align:center">            
                        {% if errors != '' %}   
                            <p>{{ errors }}</p>
                        {% endif %}
                    </div>
					<p style="line-height: 1.5em;"><input id="btnSubmit" type="submit" value="Sign In"></p>
                    <input type="hidden" name="next" value="{{ next }}" />
				</fieldset>
			</form>            
		</div>
        <script type="text/javascript">
            $( document ).ready(function() {
                var errorValue = '{{ errors }}';
                if (errorValue != '') {
                    $('#errors').css('display', 'block');
                }
            });

            $('#btnSubmit').click(function() {
                var returnValue = false;
                if ($('#id_username').val() == '') {
                    $('#lbluserName').css('display', 'block');
                    return false;
                }
                if ($('#id_password').val() == '') {
                    $('#lblpassword').css('display', 'block');
                    return false;
                }
                return true;
            });
        </script>
	</body>
</html>
