{% extends "base.html" %}
{% load media_tags %}

{% block css_media %}
	<link rel="stylesheet" href='{% media_path "css/wizard.css" %}' />
{% endblock %}

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		<li class="Active">
			<a href="{% virtual_path %}/accounts/userreportslist/" title="Reports">
				<span class="Circle color-lightblue"></span>
				<span class="Hide-Collapse">Reports</span>
			</a>
		</li>
		<li>
			<a href="#" title="Profile">
				<span class="Circle color-red"></span>
				<span class="Hide-Collapse">Profile</span>
			</a>
		</li>
		<li>
			<a href="#" title="Change Password">
				<span class="Circle color-orange"></span>
				<span class="Hide-Collapse">Change Password</span>
			</a>
		</li>
		<li>
			<a href="#" title="Recent Status">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">Recent Status</span>
			</a>
		</li>
		<li>
			<a href="#" title="Logout">
				<span class="Circle color-green"></span>
				<span class="Hide-Collapse">Logout</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content %}
	<h1 id="rdlTitle" class="h1" style="margin-bottom: 0px;">{{ page_title }}</h1>
	<input id="hdndata" type="hidden" value= '{{data}}' />
	<div id="msg">
		<span></span>
	</div>
	<section id="rptCreate">
		<form id="frmReport" action="." method="POST">{% csrf_token %}
			<div id="wizard-2">
				<h3>Choose Datasource</h3>
				<section>
					<div class="widget-block nR">
	                    <div class="grey-box">
	                        <h4 class="grey-tile" title="Data Source">
	                            <div class="min-max minimize" id="datasource-button">
	                            </div>
	                            <b> :: {{ form.datasource.label }} </b>
	                        </h4>
	                        <div id="datasource-expand" style="display: block;">
	                            <div id="dataSource" style="padding:5px">
	                                <div id="datasourceList" style="width: 100%">
                                        {% for datasource in datasources %}
                                            <input type="radio" style="display: unset;" name="datasource" value="{{ datasource.id }}" onchange="loadDimensionsAndMetrics()" /> {{ datasource.name }} <br />
                                        {% endfor %}
                                    </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="widget-block fL">
	                    <div class="grey-box">
	                        <h4 class="grey-tile" title="Dimensions">
	                            <div class="min-max minimize" id="dimensions-button">
	                            </div>
	                            <b> :: Dimensions</b>
	                        </h4>
	                        <div id="dimensions-expand" style="display: block;">
	                            <div id="dimensions" style="padding:5px">
									<div id="dimensionsList"> </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="widget-block fR">
	                    <div class="grey-box">
	                        <h4 class="grey-tile" title="Metrics">
	                            <div class="min-max minimize" id="metrics-button">
	                            </div>
	                            <b> :: Metrics</b>
	                        </h4>
	                        <div id="metrics-expand" style="display: block">
	                            <div id="metrics" style="padding:5px">
	                                <div id="metricsList"> </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>						
				</section>

				<h3>Profile</h3>
				<section>
					<div class="Forms-Group">
			            <label class="Label">{{ form.name.label }} <sup class="Mandatory">*</sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.name }}
							<span class="help-block Error_Message" style="display: none;">Please enter the report name</span>
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.description.label }}</label>
			            <div class="Form_TextBox_Group">
							{{ form.description }}
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.chart_type.label }}<sup class="Mandatory">*</sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.chart_type }}
							<span class="help-block Error_Message" style="display: none;">Please select chart type</span>
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.height.label }}<sup class="Mandatory">*</sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.height }}
							<span class="help-block Error_Message" style="display: none;">Please enter chart height</span>
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.width.label }}<sup class="Mandatory">*</sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.width }}
							<span class="help-block Error_Message" style="display: none;">Please enter chart width</span>
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.is_chart.label }}<sup class="Mandatory"></sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.is_chart }}
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.is_tabular.label }}<sup class="Mandatory"></sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.is_tabular }}
                    	</div>
					</div>
					<div class="Forms-Group">
			            <label class="Label">{{ form.is_filter.label }}<sup class="Mandatory"></sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.is_filter }}
                    	</div>
					</div>
					<div class="Forms-Group" id="filter_column">
			            <label class="Label">{{ form.filter_column.label }}<sup class="Mandatory"></sup></label>
			            <div class="Form_TextBox_Group">
							{{ form.filter_column }}
                    	</div>
					</div>
					<div class="Forms-Group">
			            <div class="Form_TextBox_Group">
							<input id="btnSubmit" class="button" type="button" value="submit" style="display:none" />			
                    	</div>
					</div>
				</section>
			</div>
		</form>
	</section>
{% endblock %}

{% block script_media %}
	<script type="text/javascript" src="/media/js/jquery.steps.min.js"></script>
	<script type="text/javascript">

		$( document ).ready(function() {
			$('#filter_column').css('display', 'none');

			$("#wizard-2").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
				autoFocus: true,
				onStepChanging: function (event, currentIndex, newIndex) {
					var ddlXaxis = ddlYaxis = false;
					$('#msg span').empty();
                    if (currentIndex == 0) {
						$("input:radio[name=ddlXAxis]:checked").each(function() {
                            ddlXaxis = true;
                        });

						$("input:radio[name=ddlYAxis]:checked").each(function() {
                            ddlYaxis = true;
                        });

						if (!ddlXaxis) {
							$('#msg span').append('<p>Please select any dimensions</p>');
						}
                        if (!ddlYaxis) {
							$('#msg span').append('<p>Please select any metrics</p>');
						}
						if (ddlYaxis || ddlXaxis) {
							return false;
						} else {
							$('#msg span').empty();
							return true;
						}
                    }
                },
				onFinishing: function(event, currentIndex) {
					$('#msg span').empty();
					var returnValue = true;
                    if (currentIndex == 1) {
                        if ($('#id_name').val() == '') {
							$('#msg span').append('<p>Please enter the Report Name</p>');
							returnValue = false;
						}
                        if ($('#id_height').val() == '') {
							$('#msg span').append('<p>Please enter the height</p>');
							returnValue = false;
						}
                        if ($('#id_width').val() == '') {
							$('#msg span').append('<p>Please enter the width</p>');
							returnValue = false;
						}
						return returnValue;
                    }
                },
                onFinished: function (event, currentIndex) {
                    $( "#frmReport" ).submit();
                }
            });

			var datasourceId = "{{ datasourceId }}";
			if (datasourceId != '') { 
				$("input[name=datasource][value=" + datasourceId + "]").attr('checked', 'checked');
			} else { 
				$("input[name=datasource][value=" + $("input[name=datasource]").val() + "]").attr('checked', 'checked');
			}
			loadDimensionsAndMetrics();
		});

		function loadDimensionsAndMetrics() {
			var datasource = document.getElementsByName("datasource");
			var data = '';
			if ($('#hdndata').val() != '') {
				data = jQuery.parseJSON(unescape($('#hdndata').val()));
			}
			for (var elem in datasource) {
                if (datasource[elem].checked) {
					$.ajax({
						url: $('#hdnvirtualpath').val() + "/getDimensionsAndMetrics/"+datasource[elem].value,
						cache: false,
						async: false,
						type : "GET",
						dataType: "json",
						success: function(response) { 
							$("#metricsList").empty();
				            $("#dimensionsList").empty();

							var strMetrics = '', strDimensions = '';
							for (var i = 0; i < response.metrics.length; i++) {	
								strMetrics +=  "<input type='checkbox' name='ddlYAxis' value='"+ response.metrics[i]['id'] + "'>"+ response.metrics[i]['name'] + "</input> <br />";						
							}

							for (var i = 0; i < response.dimensions.length; i++) {
								strDimensions +=  "<input type='checkbox' name='ddlXAxis' value='"+ response.dimensions[i]['id'] + "'>"+ response.dimensions[i]['name'] + "</input> <br />";
							}

							$('#dimensionsList').append(strDimensions);
							$('#metricsList').append(strMetrics);
							if (data != '') {
								for (var j = 0; j < data.dimensions.length; j++) {
									$('input[name=ddlXAxis][value="'+ data.dimensions[j]['id'] + '"]').attr('checked', 'checked');
								}

								for (var k = 0; k < data.metrics.length; k++) {
									$('input[name=ddlYAxis][value="'+ data.metrics[k]['id'] + '"]').attr('checked', 'checked');
								}
							}
						}
					});
				}
			}
		}

		$('#id_is_filter').change(function() {
			alert("asdadadadada");
		});

		$('#id_is_filter').click(function() {
			alert("asdadadadada");
		});

	</script>
{% endblock %}
