{% extends "base.html" %}

{% block page_title %}
    <title>Update Report</title>
{% endblock %}

{% block css_media %}
    <link href="/media/css/wizard.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="main-content-liquid" style="width:100%; margin: 58px 0px 0px 0px;">
    <section id="basic">
        <h2 class="page-header">Update Report</h2>
        <div id="wizard-1">
            <h3>Choose DataSource</h3>
            <section>
                <div class="widget-block fL">
                    <div class="grey-box">
                        <h4 class="grey-tile" title="Data Source">
                            <div class="min-max minimize" id="datasource-button">
                            </div>
                            <b> :: Data Source </b>
                        </h4>
                        <div id="datasource-expand" style="display: block;">
                            <div id="dataSource" style="padding:5px">
                                <div id="datasourceList" style="width: 100%">
                                    {% for datasource in datasources %}
                                        {% if datasource == selecteddatasourcename %}
                                            <input type="radio" name="datasource" value="{{datasource}}" onchange="loadDimensionsAndMetrics()" checked=checked /> {{datasource}} <br />
                                        {% else %}
                                            <input type="radio" name="datasource" value="{{datasource}}" onchange="loadDimensionsAndMetrics()" /> {{datasource}} <br />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grey-box">
                        <h4 class="grey-tile" title="Metrics">
                            <div class="min-max minimize" id="metrics-button">
                            </div>
                            <b> :: Metrics</b>
                        </h4>
                        <div id="metrics-expand" style="display: block;">
                            <div id="metrics" style="padding:5px">
                                <div id="metricsList">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grey-box">
                        <h4 class="grey-tile" title="Dimensions">
                            <div class="min-max minimize" id="dimensions-button">
                            </div>
                            <b> :: Dimensions</b>
                        </h4>
                        <div id="dimensions-expand" style="display: block;">
                            <div id="dimensions" style="padding:5px">
                                <div id="dimensionsList"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <h3>Create Chart</h3>
            <section>
                <div>
                    <table id="tblChart" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td align="center" valign="middle">
                                <label id="lblReportName" for="txtReportName">Report Name: </label></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <input id="txtReportName" type="text" name="txtReportName" value=""></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <label id="lblChartType" for="ddlChartType">Chart Type: </label></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <select id="ddlChartType" name="ddlChartType">
                                     <option value="0" selected="selected">---- Select Chart Type-----</option>
                                  <option value="piechart">Pie Chart</option>
                                  <option value="linechart">Line Chart</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle">
                                <label id="lblXAxis" for="txtXAxis">Choose X-Axis: </label></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <div id ="XAxisList" style="border:1px"></div></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <label id="lblYAxis" for="txtYAxis">Choose Y-Axis: </label></td>
                            <td style="width:5px"></td>
                            <td align="center" valign="middle">
                                <div id ="YAxisList" style="border:1px"></div></td>
                        </tr>
                    </table>
                </div>
            </section>

            <h3>Create Tabler</h3>
            <section>
                <table id="tblTable" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td align="center" valign="middle">
                                <label id="lblDimension" for="txtDimension">Choose Dimension: </label></td>
                        <td style="width:5px"></td>
                        <td align="center" valign="middle">
                            <div id ="tablerDimensionList" style="border:1px"></div></td>
                        <td style="width:5px"></td>
                        <td align="center" valign="middle">
                            <label id="lblMetrics" for="txtMetrics">Choose Metrics: </label></td>
                        <td style="width:5px"></td>
                        <td align="center" valign="middle">
                            <div id ="tablerMetricsList" style="border:1px"></div></td>
                    </tr>
                </table>
            </section>

            <h3>Finish!!!</h3>
            <section>
                <p> Click Finish to complete </p>
            </section>
        </div>
    </section>
</div>

{% endblock %}

{% block script_media %}
    <script type="text/javascript" src="/media/js/jquery.steps.min.js"></script>

    <script type="text/javascript">

        $( document ).ready(function() {
            loadDimensionsAndMetrics();

            $("#wizard-1").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true,
                onStepChanged: function (event, currentIndex, newIndex) {
                    var strXAxis = '', strYAxis = '', tabuler_dimensions = '', tabuler_metrics = '';
                    var strXAxisList = strYAxisList = strchecked = '';

                    var reportname = "{{reportname}}";
                    var charttype = "{{charttype}}";

                    if ($('#txtReportName').val() == '')
                        $('#txtReportName').val(reportname);
                    if ($('#ddlChartType').val() == 0)
                        $('#ddlChartType').val(charttype);

                    strXAxisList = "{{chartXAxisList}}";
                    strYAxisList = "{{chartYAxisList}}";

                    tabulerDimensionList = "{{tabulerDimensionList}}";
                    tabulerMetricList = "{{tabulerMetricList}}";

                    tabulerDimensionList = tabulerDimensionList.split(',');
                    tabulerMetricList = tabulerMetricList.split(',');
                    strXAxisList = strXAxisList.split(',');
                    strYAxisList = strYAxisList.split(',');

                    $("input:checkbox[name=metrics]:checked").each(function() {
                        for (var i = 0; i < strXAxisList.length; i++) {
                            if ($(this).val() == strXAxisList[i])
                                strchecked = "checked";
                        }
                        if (strchecked != '') {
                            strXAxis += "<input type='checkbox' name='XAxis' value="+ $(this).val() +" checked=checked>" + $(this).val()+"<br />";
                        } else {
                            strXAxis += "<input type='checkbox' name='XAxis' value="+ $(this).val() +">" + $(this).val()+"<br />";
                        }
                        strchecked = '';
                        for (var j = 0; j < tabulerMetricList.length; j++) {
                            if ($(this).val() == tabulerMetricList[j])
                                strchecked = "checked";
                        }
                        if (strchecked != '') {
                            tabuler_metrics += "<input type='checkbox' name='tabuler_metrics' value="+ $(this).val() +" checked=checked>" + $(this).val()+"<br />";
                        } else {
                            tabuler_metrics += "<input type='checkbox' name='tabuler_metrics' value="+ $(this).val() +">" + $(this).val()+"<br />";
                        }
                        strchecked = '';
                    });
                    $("input:checkbox[name=dimensions]:checked").each(function() {
                        for (var i = 0; i < strYAxisList.length; i++) {
                            if ($(this).val() == strYAxisList[i])
                                strchecked = "checked";
                        }
                        if (strchecked != '') {
                            strYAxis += "<input type='checkbox' name='YAxis' value="+ $(this).val() +" checked=checked>" + $(this).val()+"<br />";
                        } else {
                            strYAxis += "<input type='checkbox' name='YAxis' value="+ $(this).val() +">" + $(this).val()+"<br />";
                        }
                        strchecked = '';
                        for (var j = 0; j < tabulerDimensionList.length; j++) {
                            if ($(this).val() == tabulerDimensionList[j])
                                strchecked = "checked"
                        }
                        if (strchecked != '') {
                            tabuler_dimensions += "<input type='checkbox' name='tabuler_dimensions' value="+ $(this).val() +" checked=checked>" + $(this).val()+"<br />";
                        } else {
                            tabuler_dimensions += "<input type='checkbox' name='tabuler_dimensions' value="+ $(this).val() +">" + $(this).val()+"<br />";
                        }
                        strchecked = '';
                    });
                    if ($("#XAxisList").find('input[type=checkbox]').length == 0) {
                        $('#XAxisList').empty();
                        $('#XAxisList').append(strXAxis);
                    }
                    if ($("#YAxisList").find('input[type=checkbox]').length == 0) {
                        $('#YAxisList').empty();
                        $('#YAxisList').append(strYAxis);
                    }
                    if ($("#tablerDimensionList").find('input[type=checkbox]').length == 0) {
                        $('#tablerDimensionList').empty();
                        $('#tablerDimensionList').append(tabuler_dimensions);
                    }
                    if ($("#tablerMetricsList").find('input[type=checkbox]').length == 0) {
                        $('#tablerMetricsList').empty();
                        $('#tablerMetricsList').append(tabuler_metrics);
                    }
                },
                onFinished: function (event, currentIndex) {
                    var metrics = '', dimensions = '', chart_xaxis = '', chart_yaxis = '', table_dimensions = '',
                        table_metrics = '';
                    var datasourceid = "{{datasourceid}}";
                    $("input:checkbox[name=metrics]:checked").each(function() {
                        metrics += $(this).val()+",";
                    });
                    $("input:checkbox[name=dimensions]:checked").each(function() {
                        dimensions += $(this).val() +",";
                    });
                    $("input:checkbox[name=XAxis]:checked").each(function() {
                        chart_xaxis += $(this).val() +",";
                    });
                    $("input:checkbox[name=YAxis]:checked").each(function() {
                        chart_yaxis += $(this).val() +",";
                    });
                    $("input:checkbox[name=tabuler_dimensions]:checked").each(function() {
                        table_dimensions += $(this).val() +",";
                    });
                    $("input:checkbox[name=tabuler_metrics]:checked").each(function() {
                        table_metrics += $(this).val() +",";
                    });

                    dimensions = dimensions.substring(0, dimensions.length-1);
                    metrics = metrics.substring(0, metrics.length-1);

                    chart_xaxis = chart_xaxis.substring(0, chart_xaxis.length-1);
                    chart_yaxis = chart_yaxis.substring(0, chart_yaxis.length-1);

                    table_dimensions = table_dimensions.substring(0, table_dimensions.length-1);
                    table_metrics = table_metrics.substring(0, table_metrics.length-1);
                    var reportName = $("#txtReportName").val();
                    var chartType = $("#ddlChartType").val();
                    var post_data = {
                        datasourcename: $("input:radio[name=datasource]:checked").val(),
                        datasourceid: datasourceid,
                        dimension: dimensions.split(','),
                        metric: metrics.split(','),
                        reportname: reportName,
                        charttype: chartType,
                        chartxaxis: chart_xaxis.split(','),
                        chartyaxis: chart_yaxis.split(','),
                        tabulerdimension: table_dimensions.split(','),
                        tabulermetrics: table_metrics.split(',')
                    };

                    $.ajax({
                        url: "/savewidget/",
                        cache: false,
                        async: false,
                        type: "POST",
                        dataType: "json",
                        data: post_data,
                        success: function(response) {
                            alert("successfully created")
                            window.location.href = "/createwidget/";
                        }
                    });
                }
            });
        });

        function loadDimensionsAndMetrics() {
            var datasource = document.getElementsByName("datasource");

            for (var elem in datasource) {
                if (datasource[elem].checked) {
                    $.ajax({
                        url: "/getDimensionsAndMetrics/"+datasource[elem].value,
                        cache: false,
                        async: false,
                        type : "GET",
                        dataType: "json",
                        success: function(response) {
                            $("#metricsList").empty();
                            $("#dimensionsList").empty();

                            var strMetrics = '', strDimensions = strchecked ='';
                            var dimensionlist = "{{dimensionList}}";
                            var metricsList = "{{metricsList}}";
                            dimensionlist = dimensionlist.split(',');
                            metricsList = metricsList.split(',');

                            for (var i = 0; i < response.metrics.length; i++) {
                                for (var j =0; j < metricsList.length; j++) {
                                    if (response.metrics[i] == metricsList[j]) {
                                        strchecked = "checked";
                                    }
                                }
                                if (strchecked != '')
                                    strMetrics += "<input type='checkbox' name='metrics' value="+ response.metrics[i] +" checked=checked>"+response.metrics[i]+"<br />";
                                else
                                    strMetrics += "<input type='checkbox' name='metrics' value="+ response.metrics[i] +" >"+response.metrics[i]+"<br />";
                            }
                            for (var i = 0; i < response.dimensions.length; i++) {
                                for (var j = 0; j < dimensionlist.length; j++) {
                                    if (response.dimensions[i] == dimensionlist[j]) {
                                        strchecked = "checked";
                                    }
                                }
                                if (strchecked != '')
                                    strDimensions += "<input type='checkbox' name='dimensions' value="+ response.dimensions[i] +" checked=checked>"+response.dimensions[i]+"<br />";
                                else
                                    strDimensions += "<input type='checkbox' name='dimensions' value="+ response.dimensions[i] +" >"+response.dimensions[i]+"<br />";
                            }
                            $("#metricsList").append(strMetrics);
                            $("#dimensionsList").append(strDimensions);
                        }
                    });
                }
            }
        }

    </script>

{% endblock %}