{% extends "base.html" %}
{% load media_tags %}

{% block css_media %}
<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
    table.altrowstable {
	    font-family: verdana,arial,sans-serif;
	    font-size:11px;
	    color:#333333;
	    border-width: 1px;
	    border-color: #a9c6c9;
	    border-collapse: collapse;
    }
    table.altrowstable thead td {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #a9c6c9;
    }
    table.altrowstable tbody td {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #a9c6c9;
    }
    .oddrowcolor{
	    background-color:#EBEAEB;
    }
    .evenrowcolor{
	    background-color:#D3D3D3;
    }
</style>
{% endblock %}

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		<li class="Active">
			<a href="{% virtual_path %}/accounts/userreportslist/" title="Reports">
				<span class="Circle color-lightblue"></span>
				<span class="Hide-Collapse">Reports</span>
			</a>
		</li>
		<li>
			<a href="#" title="Profile">
				<span class="Circle color-red"></span>
				<span class="Hide-Collapse">Profile</span>
			</a>
		</li>
		<li>
			<a href="{% virtual_path %}/accounts/changepassword/" title="Change Password">
				<span class="Circle color-orange"></span>
				<span class="Hide-Collapse">Change Password</span>
			</a>
		</li>
		<li>
			<a href="#" title="Recent Status">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">Recent Status</span>
			</a>
		</li>
		<li>
			<a href="#" title="Logout">
				<span class="Circle color-green"></span>
				<span class="Hide-Collapse">Logout</span>
			</a>
		</li>		
	</ul>
{% endblock %}

{% block content %}
	<h1 id="rdlTitle" class="h1" style="margin-bottom: 0px;">{{ page_title }}</h1>
	<div class="Admin-Heading" style="margin: 0 2px 9px 1px;">
		<ul class="Admin-Header">
			<li>
				<a href="{% virtual_path %}/accounts/reports/add">
					<span class="Admin-UserName">Add New Report</span>
				</a>
			</li>
		</ul>    	
	</div>
	<div style="text-align:center">
		{% if msg %}
			<p>{{ msg }}</p>
		{% endif %}
	</div>
	<table border="1" cellpadding="0" cellspacing="0" width="100%"  class="altrowstable" id="alternatecolor">
		<thead>
			<tr>
				<td>S.No</td>
				<td>Report Name</td>
				<td>Chart Type</td>
				<td>DataSource</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			{% for report in reports %}
				<tr>
					<td> {{ forloop.counter }} </td>
					<td> {{ report.name }} </td>
					<td> {{ report.chart_type }} </td>
					<td> {{ report.datasource.name }} </td>
					<td> <a href="{% virtual_path %}/accounts/reports/edit/{{report.id}}"> Edit </a> | 
						 <a href="{% virtual_path %}/accounts/reports/delete/{{report.id}}"> Delete </a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block script_media %}
    <script type="text/javascript">
        function altRows(id) {
	        if (document.getElementsByTagName) { 
		
		        var table = document.getElementById(id);  
		        var rows = $("#alternatecolor tbody").find("tr"); 
		        for (i = 0; i < rows.length; i++) { 
			        if (i % 2 == 0) {
				        rows[i].className = "evenrowcolor";
			        } else {
				        rows[i].className = "oddrowcolor";
			        }      
		        }
	        }
        }

        window.onload=function() {
	        altRows('alternatecolor');
        }
    </script>
{% endblock %}
