{% extends "base.html" %}

{% block content %}
<div id="main-content-liquid" style="width:70%; margin: 0px 0px 0px 0px;">
    <section id="basic">
        <h2 class="page-header">Create Report</h2>
        <form id="form-2" action="#">
            <div id="wizard-1">
                <h3>Choose DataSource</h3>
                <section>
                    <table id="tblChart" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td align="center" valign="middle" style="vertical-align: middle;">
                                    <label id="lblReportName" for="txtReportName">Report Name: </label></td>
                                <td style="width:5px"></td>
                                <td align="center" valign="middle">
                                    <input id="txtReportName" style="height: 30px;" class="error" type="text" name="txtReportName" /></td>
                                    <span id="nameInfo" class="error"></span>
                                        <label id ="lblReport" for="report" class="error">Please enter the Report Name</label>
                            </tr>
                    </table>
                    <div class="widget-block nR">
                        <div class="grey-box">
                            <h4 class="grey-tile" title="Data Source">
                                <div class="min-max minimize" id="datasource-button">
                                </div>
                                <b> :: Data Source </b>
                            </h4>
                            <div id="datasource-expand" style="display: block;">
                                <div id="dataSource" style="padding:5px">
                                    <div id="datasourceList" style="width: 100%">
                                        {% for datasource in datasources %}
                                            <input type="radio" style="display: unset;" name="datasource" value="{{datasource}}" onchange="loadDimensionsAndMetrics()" /> {{datasource}} <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-block fL">
                        <div class="grey-box">
                            <h4 class="grey-tile" title="Dimensions">
                                <div class="min-max minimize" id="dimensions-button">
                                </div>
                                <b> :: Dimensions</b>
                            </h4>
                            <div id="dimensions-expand" style="display: block;">
                                <div id="dimensions" style="padding:5px">
                                    <div id="dimensionsList"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-block fR">
                        <div class="grey-box">
                            <h4 class="grey-tile" title="Metrics">
                                <div class="min-max minimize" id="metrics-button">
                                </div>
                                <b> :: Metrics</b>
                            </h4>
                            <div id="metrics-expand" style="display: block">
                                <div id="metrics" style="padding:5px">
                                    <div id="metricsList"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="errorlist" id="errors" style="text-align:center">
                        {% if errors != '' %}
                            <p>{{ errors }}</p>
                        {% endif %}
                    </div>
                </section>

                <h3>ReportInfo</h3>
                <section>
                    <div>
                        <table id="tblChart" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <label id="lblChartType" for="txtChartType">Chart Type: </label></td>
                                <td style="width:5px"></td>
                                <td align="center" valign="middle">
                                    <select id="ddlChartType" name="ddlChartType">
                                        {% for chart in charttype %}
                                            <option value="{{chart}}">{{chart}}</option><br />
                                        {% endfor %}
                                    </select></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <label id="lblXaxis" for="txtXaxis">X Axis: </label></td>
                                <td style="width:5px"></td>
                                <td align="center" valign="middle">
                                    <select id="ddlXaxis" name="ddlXaxis" class="error" multiple="multiple">
                                    </select></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                    <label id="lblYaxis" for="txtYaxis">Y Axis: </label></td>
                                <td style="width:5px"></td>
                                <td align="center" valign="middle">
                                    <select id="ddlYaxis" name="ddlYaxis" class="error" multiple="multiple">
                                    </select></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" style="vertical-align: middle;">
                                    <label id="lblDescription" for="txtDescription">Description: </label></td>
                                <td style="width:5px"></td>
                                <td align="center" valign="middle">
                                    <input id="txtDescription" type="text" style="height: 100px;" name="txtDescription" /></td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">
                                    <input id="is_chart" type="checkbox" value="is_chart" /><b>  Is Chart</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">
                                    <input id="is_tabular" type="checkbox" value="is_tabular" /><b>  Is Tabular</b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block script_media %}
    <script type="text/javascript" src="/media/js/jquery.steps.min.js"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            var errorValue = '{{ errors }}';
            if (errorValue != '') {
                $('#errors').css('display', 'block');
            }
        });

        function loadDimensionsAndMetrics() {
            var datasource = document.getElementsByName("datasource");

            for (var elem in datasource) {
                if (datasource[elem].checked) {
                    $.ajax({
                        url: $('#hdnvirtualpath').val() + "/getDimensionsAndMetrics/"+datasource[elem].value,
                        cache: false,
                        async: false,
                        type : "GET",
                        dataType: "json",
                        success: function(response) {
                            $("#metricsList").empty();
                            $("#dimensionsList").empty();
                            var strMetrics = '', strDimensions = '';

                            for (var i = 0; i < response.metrics.length; i++) {
                                strMetrics += "<li>"+ response.metrics[i] +"</li>";
                            }
                            strMetrics = "<ol>"+ strMetrics +"</ol>";
                            for (var i = 0; i < response.dimensions.length; i++) {
                                strDimensions += "<li>"+ response.dimensions[i] +"</li>";
                            }
                            strDimensions = "<ol>"+ strDimensions +"</ol>";
                            $("#metricsList").append(strMetrics);
                            $("#dimensionsList").append(strDimensions);
                        }
                    });
                }
            }
        }

    </script>

{% endblock %}
