{% extends "base.html" %}
{% load media_tags %}

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		<li>
			<a href="{% virtual_path %}/accounts/userreportslist/" title="Reports">
				<span class="Circle color-lightblue"></span>
				<span class="Hide-Collapse">Reports</span>
			</a>
		</li>
		<li>
			<a href="#" title="Profile">
				<span class="Circle color-red"></span>
				<span class="Hide-Collapse">Profile</span>
			</a>
		</li>
		<li>
			<a href="{% virtual_path %}/accounts/changepassword/" title="Change Password">
				<span class="Circle color-orange"></span>
				<span class="Hide-Collapse">Change Password</span>
			</a>
		</li>
		<li>
			<a href="#" title="Recent Status">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">Recent Status</span>
			</a>
		</li>
		<li>
			<a href="{% virtual_path %}/accounts/logout/" title="Logout">
				<span class="Circle color-green"></span>
				<span class="Hide-Collapse">Logout</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content %}

{% endblock %}
