
<div ng-app="myApp" ng-controller="MyCtrl">
	<div id="dtFilter"class="grey-tile" style="width:100%">
		<table id="tblFilterContent" cellpadding="4" cellspacing="2">
			<tr>
				<td width="10px"> </td>
				<td>
					<label id="lblFromDate" for="dashboard-date">From Date</label>
				</td>
				<td width="5px"></td>
				<td align="center" valign="middle">
					<input type="text" class="inputs" id="txtFromDate" name="txtFromDate" readonly="readonly" />
				</td>
				<td width="10px"></td>
				<td>
					<label id="lblToDate" for="dashboard-date">To Date</label>
				</td>
				<td width="5px"></td>
				<td align="center" valign="middle">
					<input type="text" class="inputs" id="txtToDate" name="txtToDate" readonly="readonly" />
				</td>
				<td width="10px"></td>
				<td align="center" valign="middle">
					<input id="btnLoad" class="button" type="submit" value="submit" ng-click="submitclick()" />
				</td>
			</tr>
		</table>
	</div>
	<div class="gridStyle" ng-grid="gridOptions" style="float:right; align:top; display:block; height:550px; width:100%; margin-top: 10px;"></div>
</div>

<link rel="stylesheet" type="text/css" href="{% media_path 'css/ng-grid.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% media_path 'css/ng-style.css' %}">

<script src="{% media_path 'js/angular/angular.min.js' %}"></script>
<script src="{% media_path 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% media_path 'js/angular/ng-grid-2.0.11.min.js' %}"></script>
<script src="{% media_path 'js/angular/aggregate.js' %}"></script>
<script src="{% media_path 'js/d3.min.js' %}"></script>
<script src="{% media_path 'js/tableview.js' %}"></script>

<script type="text/javascript">
    $(function() {
        var d = new Date();
        var curr_year = d.getFullYear();

        $( "#txtFromDate" ).datepicker({
            dateFormat: 'yy-mm-dd',
			maxDate: '-1d'
        });
		$( "#txtToDate" ).datepicker({
           dateFormat: 'yy-mm-dd',
			maxDate: '-1d'
        });

        $("#txtFromDate").datepicker('setDate', hdnstartdt.value);        
        $("#txtToDate").datepicker('setDate', hdnenddt.value);
        
    });
</script>
