{% extends 'home.html' %}
{% load media_tags %} 

{% block side_menu %}
	<ul class="Sidebar-Navi-Descrpition">
		{% for source in datasource %}
		<li>
			<a href="{% virtual_path %}/exploredata/{{source.pk}}" title="Text menu">
				<span class="Circle color-lightgreen"></span>
				<span class="Hide-Collapse">{{source.name}}</span>
			</a>
			<div class="Accordian_Content">
				<ul class="Legend_List">
					<li>
						<h4 class="Legend_List_Title">Dimension</h4>
						<ul class="Legend_SubList">
							{% for field in fields %}
								{% if field.type == 'DIM' %}
									<li>{{field.field}}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
					<li>
						<h4 class="Legend_List_Title">Metrics</h4>
						<ul class="Legend_SubList">
						{% for field in fields %}
							{% if field.type == 'MET'%}
								<li>{{field.field}}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	<h1 id="rdlTitle" class="h1">{{ report_info.name }}</h1>	
	<input id="hdntitle" type="hidden" value='{% media_path "" %}{{ report_info.name }}'/>
	<input id="hdnfields" type="hidden" value='{{ colmndef }}'/>
	<input id="hdnpk" type="hidden" value='{{ sourceid }}'/>
	<input id="hdnstartdt" type="hidden" value='{{ fromdate }}'/>
	<input id="hdnenddt" type="hidden" value='{{ todate }}'/>
	<input id="hdnvirtualpath" type="hidden" value='{% virtual_path %}' />
	<div id="widget_container" class="widget-block nR">	
	 	{% include "tableview.html" %}
	</div>
{% endblock %}
